name: Release
on:
  release:
    types: [created]
jobs:
  call_npm_release:
    uses: szikszail/workflows/.github/workflows/npm-release.yml@v1
    permissions:
      contents: read
      id-token: write
    secrets:
      npm_token: ${{ secrets.npm_token }}
